<div class="wrap-content cute" id="preregister-form">
	<div class="space-top-1 visible-sm visible-md visible-lg"></div>

	<h3 class="legend-3 text-center">Faça sua pré-matricula</h3>

	<div class="row">
		<div class="col-3 col-sm-4 col-xs-1"></div>
		<div class="col-3 col-sm-2 col-xs-1">
			<% if @student.errors.any? %>
		    <div class="error-form">
		      <% if @student.errors.count > 1 %>
		        <h3 class="error-title"><%= pluralize(@student.errors.count, "error") %>:</h3>
		      <% end %>    

		      <ul>
		      <% @student.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4 col-sm-4 col-xs-1"></div>
			<div class="col-2 col-sm-2 col-xs-1">
				<%= form_for(@student, url: @url, :html => {:multipart => false, :class => 'form'}) do |f| %>

					<div class="row">
						<div class="col-1">
							<div class="form-inputs">
								<%= f.text_field :name, :class => 'input', :autofocus => @student.errors.any? == true, :placeholder => 'Nome' %>
							</div>
						</div>
						<div class="col-1">
							<div class="form-inputs">
								<%= f.text_field :email, :class => 'input', :placeholder => 'Email' %>
							</div>
						</div>
						<div class="col-1">
							<div class="form-inputs">
								<%= f.text_field :ocuppation, :class => 'input', :placeholder => 'Profissão' %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-2 col-xs-1 col-sm-2 col-md-2">
							<div class="form-inputs">
								<%= f.number_field :phone, :class => 'input', :placeholder => 'Telefone' %>
							</div>
						</div>
						<div class="col-2 col-xs-1 col-sm-2 col-md-2">
							<div class="form-inputs">
								<%= f.number_field :cell_phone, :class => 'input', :placeholder => 'Celular' %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-1 col-xs-1 col-sm-1 col-md-1">
							<div class="form-inputs">
								<button type="submit" class="btn btn-block shine">ENVIAR</button>
							</div>
						</div>
					</div>

				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-4 col-sm-1 col-xs-1"></div>
			<div class="col-2 col-sm-1 col-xs-1">
				<p class="description-2 text-center">
					Em breve te informarei a data, horário e local. <br>
			Nos vemos em breve  =)
				</p>
			</div>
		</div>
	</div>
</div>