<div class="wrap-background">
	<img src="/assets/tela-icial-bg.png" class="wrap-background-image">

	<section class="wrap-background-content">
		<div class="row">
			<div class="col-5"></div>
			<div class="col-5">
				<div class="icon-desktop-ps"></div>
				<h3 class="legend-3 text-center">
					Photoshop CC
				</h3>
				<p class="description-4 text-center">
					É um manipulador de imagens digitais profissional 
	para tratar fotos, tirar imperfeições, fazer montagens
	efeitos, pintura digital, banners, flyers, logos, etc.
				</p>
			</div>
			<div class="col-5">
				<div class="logo-ps-e-ai"></div>
			</div>
			<div class="col-5">
				<div class="icon-desktop-ai"></div>
				<h3 class="legend-3 text-center">
					Illustrator cc
				</h3>
				<p class="description-4 text-center">
					É um programa editor de imagens vetorias
	com ele você pode fazer logotipos, ilustrações ou fazer
	 todo o layout de seu site Além disso, criar imagens
	 com efeitos mesclados e 3D.
				</p>
			</div>
		</div>
	</section>
</div>

<%= render 'home/block_advertiser' %>
<%= render 'home/block_webdesigner' %>
<%= render 'home/block_fashiondesigner' %>
<%= render 'home/block_illustrators' %>
<%= render 'home/block_photographers' %>
<%= render 'home/block_info' %>

<div class="wrap-content cute">
	<h3 class="legend-3 text-center">Faça sua pré-matricula</h3>

	<br><br>

</div>

<div class="wrap-content gray">
	<h3 class="legend-3 normal text-center text-cute">Contato</h3>

	<h3 class="legend-3 normal text-center text-cute">pseai@gmail.com - (65) 9293-6136 </h3>
</div>
