<h2>NOME: <%= @user.name %></h2>
<h2>EMAIL: <%= @user.email %></h2>
<h2>PROFISÃO: <%= @user.ocuppation %></h2>
<h2>TELEFONE: <%= @user.phone %></h2>
<h2>CELULAR: <%= @user.cell_phone %></h2>
<h2>DATA: <%= @user.date_course %></h2>
<h2>HORARIO: <%= @user.hour_course %></h2>