<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />
  <meta name="google" content="sitelinkssearchbox" />
  <meta name="google" content="notranslate" />
  <!-- facebook -->
  <meta property="og:title" content="Curso de Photoshop e Illustrator">
  <meta property="og:image" content="http://www.cursopseai.com.br/assets/logo.png">
  <meta property="og:site_name" content="Curso de Photoshop e Illustrator">
  <meta property="og:description" content="curso, photoshop, ilustrator, designer, web designer, publicitarios">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://www.cursopseai.com.br">
  <meta name="twitter:title" content="Curso de Photoshop e Illustrator">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <!-- main -->
  <meta name="description" content="Curso de Photoshop e Illustrator">
  <meta name="keywords" content="curso, photoshop, ilustrator, designer, web designer, publicitarios"/>

  <title>Curso de Photoshop e Illustrator</title>

  <%= favicon_link_tag 'icone.png', type: 'image/png' %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
